	.home {
        .content-area {
            height: 100vh;
            display: flex;
                h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 4.5rem;
            }
        }
    }

#homepage {
    background-image: url("./img/succulent_1.png");
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 100%;
    background-size: 50vw;
}

#portfolio {
    position: relative;
    .container {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        left: 0;
        .row {
            flex-wrap: nowrap;
            overflow: scroll;
        }
    .list_projet {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: block;
        height: 200px;
        margin-right: 10px;
        padding: 0;
        opacity: .7;
        -webkit-filter: contrast(150%);
        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $primary;
            opacity: 0.9;
        }
    }

    }

}

.slide {
  width:calc(100vw - 150px);
  min-height:100%;
  float:left;
}
