	.home .content-area {
    height: 100vh;
	display: flex;
    background-image: url("./img/succulent_1.png");
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 100%;
    background-size: 60vw;
    }