body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.text-gradient {
 	background-image: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@import "headings";

@import "copy";