body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.text-gradient {
 	background-image: $gradient;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.vertical-text {
	-webkit-writing-mode : vertical-lr;
-ms-writing-mode : tb-lr ; /* ancien IE */
-ms-writing-mode : vertical-lr;
writing-mode : vertical-lr;
  text-orientation: sideways;
}

@import "headings";

@import "copy";