button:not(.close),
input[type="button"],
input[type="reset"],
input[type="submit"],
.wpcf7-submit {
    min-width: 100px;
    border: 1px solid;
    border-color: #fff;
    border-radius: 3px;
    background: #fff;
    font-weight: bold;

    //	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    @include font-size(0.75);

    line-height: 1;
    padding: .6em;
    text-transform: uppercase;

    //	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

    &:hover {
        border-color: $color__border-button-hover;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
    }

    &:active,
    &:focus {
        border-color: $color__border-button-focus;
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
    }
}

.wpcf7-submit {
    color: $color_form;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: #fff !important;

    &:hover {
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
}

.badge-pill {
    padding: 10px;
}
