@import "tables";
@import "lists";
@import "buttons";
@import "inputs";
@import "links";
@import "headings";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
    quotes: "" "";

    &:before,
    &:after {
        content: "";
    }
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/*=============================================
=            Typography                       =
=============================================*/
html,
body,
button,
input,
select,
textarea {
    color: $color__text-main;
    font-family: $font__main;
	letter-spacing: 2px;
    line-height: $font__line-height-body;
// Responsive text
   font-size: 16px;
   @media (max-width: 1000px) {
    font-size: calc(12px + .4vw);
  }
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: $color__background-pre;
    font-family: $font__pre;

    line-height: $font__line-height-pre;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;

    @include font-size(0.9375);
}

code, kbd, tt, var {
    font-family: $font__code;

    @include font-size(0.9375);
}

abbr, acronym {
    border-bottom: 1px dotted $color__border-abbr;
    cursor: help;
}

mark, ins {
    background: $color__background-ins;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*=====  End of Typography             ======*/

.vertical-text {
	transform: rotate(-90deg);
}


/*=============================================
=            Badges                           =
=============================================*/
.badge {
    margin-bottom: 10px;
}
.badge-cat {
	background-color: $primary !important;
	color: #fff !important;
	font-weight: 400;
}

.badge-tag {
	background-color: rgba($color: $primary, $alpha: .7) !important;
	color: #fff !important;
	font-weight: 400;
}

.badge-outline-light {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    transition-duration: 1s;
    &:hover {
        background-color: rgba($color: #fff, $alpha: .5);
    }
}

/*=====  End of Badges                 ======*/


