$alert:#9A1D3F; 
$grey: #ddd; 
$primary: rgba(8%,61%,55%,1.00); 
$black-transparent: rgba(29%,29%,29%,0.70); 
$black: rgba(30%,27%,25%,1.00); 

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $grey;
$color__link-visited: $primary;
$color__link-hover: midnightblue;
$color__text-main: $black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$gradient: linear-gradient(-136deg, #43E695 0%, #3BB2B8 48%);

// Classes
.color-primary {
    color: $primary;
}
.color-grey {
    color: $grey;
}
.color-black {
    color: $black;
}
.color-alert {
    color: $alert;
}
.bg-primary {
    background-color: $primary;
}
.bg-grey {
    background-color: $grey;
}
.bg-black {
    background-color: $black;
}
.bg-alert {
    background-color: $alert;
}